<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
        var aPos = {
        x : {{aPos.x}},
        y : {{aPos.y}}
        };
        var bPos = {
        x : {{bPos.x}},
        y : {{bPos.y}}
        };
        </script>
        <script src="script.js"></script>
        <style type="text/css">
            body {
                background : #C3C99D;
            }
            table {
                border-collapse:collapse;
                margin : 0 auto;
                margin-top : 100px;
            }
            table td {
                border : 1px solid #DBE3AF;
                margin : 0;
                padding : 0;
                width : 20px;
                height : 20px;
                background : white
            }
            #log p {
                width : 200px;
                margin : 10px auto;
                font-family : courier;
                color : #777;
            }
        </style>
    </head>
    <body>
        <table>
            {{#initialMap}}
            <tr>
                {{#.}}
                <td>

                </td>
                {{/.}}
            </tr>
            {{/initialMap}}
        </table>
        <div id="log">
        </div>
    </body>
</html>