 body {
    background : #C3C99D;
}
table {
    border-collapse:collapse;
    margin : 0 auto;
    margin-top : 20px;
}
table td {
    border : 1px solid #DBE3AF;
    margin : 0;
    padding : 0;
    width : 20px;
    height :20px;
    background : white;
    /*background-size: contain;*/
}
#log p {
    width : 200px;
    margin : 10px auto;
    font-family : courier;
    color : #777;
}